<div class="mt-0 mb-4">
  <p>I <strong>{{ membername }}</strong> Have agreed to allow Empire Fit Club to deduct IDR <strong class="show-price">{{
      recuring_payment | number:0 }}</strong>
    from my credit card in order to pay the monthly
    subscriptions. I understand that this payment process is a reoccurringpaymentprocess and the agreed amount
    of
    money will be automatically deducted unless I instructed them other wise.</p>
  <p>Terms &amp; Condition.</p>
  <ul style="list-style: none">
    <li>1. 1-year contract*</li>
    <li>2. Early contract termination: 1 month cancellation fee</li>
    <li>3. Maximum 1x freeze (admin fee IDR 300,000):</li>
    <li> &nbsp;&nbsp;&nbsp;a.) Must provide doctor's note</li>
    <li> &nbsp;&nbsp;&nbsp;b.) Must provide travel itinerary for travel 2 weeks and more</li>
    <li>*: Contract subjected to review are pregnancy, accident (car accident/extreme accident), and
      critical illness-related
      cases with a certified physician’s note</li>
  </ul>

  <form [formGroup]="autodebitForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="px-4 py-3 border border-light rounded align-items-center">
          <div class="row mb-3">
            <div class="col-3">
              Bank
            </div>
            <div class="col-9">
              <div class="text-medium text-primary mt-1">
                <select formControlName="bank_id" class="form-control">
                  <option *ngFor="let bank of banks" [value]="bank.id">{{ bank.bank_name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              Name on Card
            </div>
            <div class="col-9">
              <div class="text-medium text-primary mt-1">
                <input autofocus required formControlName="cc_name" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              Card Number
            </div>
            <div class="col-9">
              <div class="text-medium text-primary mt-1">
                <input required formControlName="cc_card" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              EXP Date
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-2">
                  <div class="text-medium text-primary mt-1">
                    <input required placeholder="dd" formControlName="cc_month" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-1">
                  -
                </div>
                <div class="col-4">
                  <div class="text-medium text-primary mt-1">
                    <input required placeholder="yyyy" formControlName="cc_year" type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <button (click)="openLg(signaturetiga)" type="button" class="btn btn-primary">Put Signature</button>
        <button class="btn btn-success d-none ml-3 isSuccessAutodebitSign" disabled>Success</button>
        <ng-template #signaturetiga let-modal let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title"><strong><span class="text-capitalize">Autodebit Signature</span></strong></h4>
            <button type="button" class="close" aria-label="Close" (click)="c('close')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <signature-pad [options]="debitsign" id="debit" #debit_sign></signature-pad>
            <input formControlName="debit_sign" type="hidden" id="debit-sign" value="">
            <div class="text-left">
              <button type="button" class="btn btn-primary py-2 px-5 mr-3" (click)="debit_sign.clear()">Clear</button>
              <button type="button" class="btn btn-primary py-2 px-5 mr-3"
                (click)="memberautodebitsign(debit_sign)">Submit</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <btn-loading btnClass="btn btn-lg btn-block btn-primary py-3" [loading]="loading">Save</btn-loading>
      </div>
    </div>
  </form>
</div>