<div class="">
  <div class="breadcrumb">
    <h1>Customer Search</h1>
    <ul>
      <li>List</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <input
          id="email"
          placeholder="Search By ID, Name or Phone"
          [formControl]="searchControl"
          class="form-control "
          type="email"
        />
      </div>
    </div>
    <div class="col-md-12">
      <div class="card  o-hidden">
        <ngx-datatable
          style="height: 500px; box-shadow: none"
          class="material fullscreen"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="60"
          [scrollbarV]="true"
          [rows]="filteredMembers"
        >
          <ngx-datatable-column prop="id_card_number" [width]="80">
            <ng-template ngx-datatable-header-template>
              ID Card
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="name">
            <ng-template ngx-datatable-header-template>
              Name
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="phone">
            <ng-template ngx-datatable-header-template>
              Phone
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="state">
            <ng-template ngx-datatable-header-template>
              State
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column>
            <ng-template ngx-datatable-header-template>
              Action
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-value="value"
              let-row="row"
              let-rowIndex="rowIndex"
            >
              <a
                href="#"
                routerLink="member/edit"
                class="btn btn-sm btn-warning mr-2"
                title="Edit"
                triggers="mouseenter:mouseleave"
              >
                <i class="i-Pen-5"></i>
              </a>
              <a
                href="#"
                routerLink="member/detail/{{ row.id }}"
                class="btn btn-sm btn-success mr-2"
                title="Detail"
                triggers="mouseenter:mouseleave"
              >
                <i class="i-Information"></i>
              </a>
              <a
                href="#"
                routerLink="member/leave"
                class="btn btn-sm btn-danger mr-2"
                title="Leave"
                triggers="mouseenter:mouseleave"
              >
                <i class="i-Close-Window"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
