<div class="breadcrumb">
	<h1>{{member.name}}</h1>
	<ul>
		<li>Registration</li>
	</ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row" id="form-step">
	<div class="col-md-12">

		<form-wizard>
			<wizard-step [title]="'Agreement'" (onNext)="onStep1Next()">
				<h4 class="text-medium text-bold">ASSUMPTION OF RISK; WAIVER; and LIABILITY RELEASE (the "Agreement'')
				</h4>

				<p class="text-plain my-3">THIS IS A LIABILITY RELEASE BY AFFIRMATIVELY AGREEING TO IT BY SIGNING THE
					AGREEMENT,
					YOU ARE WAIVING CERTAIN LEGAL RIGHTS AND ARE COMPLETELY RELEASING POTENTIAL CLAIMS. PLEASE READ IT
					CAREFULLY.</p>

				<form #basicForm="ngForm" [formGroup]="liabilityForm">
					<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
						<ngb-panel title="I. Personal Data of the Participant">
							<ng-template ngbPanelContent>
								<div class="row">
									<div class="form-group col-md-6 mb-4">
										<label class="d-block mb-2">Name</label>
										<div class="text-medium">{{member.name ? member.name : "-"}}</div>
									</div>
									<div class="form-group col-md-6">
										<label class="d-block mb-2">Date of Birth</label>
										<div class="text-medium">{{member.date_of_birth ? member.date_of_birth : "-"}}
										</div>
									</div>
									<!-- <div class="form-group col-md-6">
										<label class="d-block mb-2">ID Card (KTP/SIM/Passport)</label>
										<div class="text-medium">{{member.id_card_number ? member.id_card_number : "-"}}
										</div>
									</div> -->
									<div class="form-group col-md-6 mb-4">
										<label class="d-block mb-2">Contact Number</label>
										<div class="text-medium">{{member.phone ? member.phone : "-"}}</div>
									</div>
									<div class="form-group col-md-6">
										<label class="d-block mb-2">Email address</label>
										<div class="text-medium">{{member.email ? member.email : "-"}}</div>
									</div>
									<div class="form-group col-md-6">
										<label class="d-block mb-2">Occupation</label>
										<div class="text-medium">{{member.occupation ? member.occupation : "-"}}</div>
									</div>
								</div>
							</ng-template>
						</ngb-panel>
						<ngb-panel title="II. Participant Address">
							<ng-template ngbPanelContent>
								<div class="row">
									<div class="form-group col-md-6 mb-4">
										<label>Home Address</label>
										<div class="text-medium">
											{{ member.address ? member.address : "no data" }}
										</div>
									</div>
									<div class="form-group col-md-6 mb-4">
										<label>Home Address Area</label>
										<div class="text-medium">
											{{ member.home_address_area ? member.home_address_area : "no data" }}
										</div>
									</div>
									<div class="form-group col-md-6 mb-4">
										<label>Work Address</label>
										<div class="text-medium">
											{{ member.work_address ? member.work_address : "no data" }}
										</div>
									</div>
									<div class="form-group col-md-6 mb-4">
										<label>Work Address Area</label>
										<div class="text-medium">
											{{ member.work_address_area ? member.work_address_area : "no data" }}
										</div>
									</div>
								</div>
							</ng-template>
						</ngb-panel>
						<ngb-panel title="III. Participant Emergency Contact">
							<ng-template ngbPanelContent>
								<div class="row">
									<div class="form-group col-md-6 mb-4">
										<label>Emergency Contact Name</label>
										<div class="text-medium">
											{{ member.emergency_contact_name ? member.emergency_contact_name : "no data" }}
										</div>
									</div>
									<div class="form-group col-md-6 mb-4">
										<label>Home Address Area</label>
										<div class="text-medium">
											{{ member.emergency ? member.emergency : "no data" }}
										</div>
									</div>
								</div>
							</ng-template>
						</ngb-panel>
						<ngb-panel title="IV. Health Questions">
							<ng-template ngbPanelContent>
								<ul class="list" style="list-style:none;"
									*ngFor="let healthquestion of healthquestions">
									<li>
										<div class="row">
											<div class="col-md-6 mb-3 mb-md-0">
												<strong>{{healthquestion.question}}</strong>
											</div>
											<div class="col-md-6 text-right">
												<div class="answer" id="{{healthquestion.id}}"
													data-id="healthquestion.id" class="text-medium">
													{{ !! healthquestion.answer === false ? "No" : "Yes" }}<strong
														id="reason_{{healthquestion.id}}">{{healthquestion.reason
														? ", "+healthquestion.reason : "" }}</strong>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</ng-template>
						</ngb-panel>
						<ngb-panel title="V. Notes:">
							<ng-template ngbPanelContent>
								{{member.notes}}
							</ng-template>
						</ngb-panel>
						<ngb-panel title="VI. Photography and/or Video Release">
							<ng-template ngbPanelContent>
								<div style="font-size:16px;">
									Photography and/or Video Release of Participant involved in any activities offered
									by EMPIRE FIT CLUB may be
									photographed or videotaped during training. The undersigned hereby consents to the
									use of these photographs
									and/or videos without compensation, on the EMPIRE FIT CLUB website or in any
									editorial, promotional or
									marketing material produced and/or published by EMPIRE FIT CLUB.
								</div>
							</ng-template>
						</ngb-panel>
						<ngb-panel title="VII. Waiver and Release of Liability">
							<ng-template ngbPanelContent>
								<ul style="list-style:none;font-size:16px;" class="p-0 m-0 p-list">
									<li><strong>(i)</strong> Express Assumption of Risk: I, the undersigned, am aware
										that there are significant
										risks involved in all aspects of physical training. These risks include, but are
										not limited to: falls,
										muscle strains, muscle pulls, muscle tears, broken bones, shin splints, heat
										prostration, injuries to knees;
										, injuries to back, injuries to foot, heart attacks, or any other illness or
										soreness that I may incur which
										can result in serious injury or death; injury or death due to negligence on the
										part of myself, my training
										partner, or other people around me; injury or death due to improper use or
										failure of equipment; strains and
										sprains. I am aware that any of these above mentioned risks may result in
										serious injury or death to myself
										and or my partner(s). I willingly assume full responsibility for the risks that
										I am exposing myself to and
										accept full responsibility for any injury or death that may result from
										participation in any activity or
										class while at, or under direction of EMPIRE FIT CLUB. I acknowledge that I have
										no physical impairments,
										injuries , or illnesses that will endanger me or others.</li>

									<li><strong>(ii)</strong> Release: In consideration of the above mentioned risks and
										hazards and in
										consideration of the fact that I am willingly and voluntarily participating in
										the activities offered by
										EMPIRE FIT CLUB, I, the undersigned hereby release EMPIRE FIT CLUB, their
										directors, coaches, officers,
										employees, agents, from any and all liability, claims, demands, actions or
										rights of action, which are
										related to, arise out of, or are in any way connected with my participation in
										this activity, including those
										allegedly attributed to the negligent acts or omissions of the above mentioned
										parties . This agreement shall
										be binding upon me, my spouse, my children, my guardians, my successors,
										representatives, heirs, executors,
										assigns, or transferees (collectively, the "Releasors"). I accept full and
										complete responsibility for the
										safety of myself, any guests, observers or other individuals who I have invited
										to the venue of EMPIRE FIT
										CLUB, and property, and I assume the risk of damage, theft, loss or injury
										caused by others to me, my guests
										and property <br><br>

										If any portion of this agreement is held invalid, I agree that the remainder of
										the agreement shall remain in
										full legal force and effect. If I am signing on behalf of a minor child, I also
										give full permission for any
										person connected with EMPIRE FIT CLUB to administer first aid deemed necessary,
										and in case of serious
										illness or injury, I give permission to call for medical and or surgical care
										for the child and to transport
										the child to a medical facility deemed necessary for the wellbeing of the child
									</li>

									<li><strong>(iii)</strong> Indemnification: On behalf of the Releasers, the
										Participant recognizes that there
										is risk involved in the types of activities offered by EMPIRE FIT CLUB.
										Therefore the Participant accepts
										financial responsibility for any injury that the Participant may cause either to
										him/herself or to any other
										participant due to his/her negligence. Should the above mentioned parties, or
										anyone acting on their behalf,
										be required to incur attorney's fees and costs to enforce this agreement, I
										agree to reimburse them for such
										fees and costs. I further agree to indemnify and hold harmless EMPIRE FIT CLUB,
										their directors, coaches,
										officers, employees, agents from liability for the injury or death of any
										person(s) and damage to property
										that may result from my negligent or intentional act or omission while
										participating in <br>
										_____ activities offered by EMPIRE FIT CLUB, at the main building or aboard.
										This includes but is not limited
										to parks, recreational areas, playgrounds, areas adjacent to main building,
										and/or any area selected for
										training by EMPIRE FIT CLUB. <br><br>

										I Have read and understood the foregoing assumption of risk, and release of
										liability and I understand that
										by signing it obligates me to indemnify the parties named for any liability for
										injury or death of any person
										and damage to property caused by my negligent or intentional act or omission. I
										understand that by signing
										this form I am waiving valuable legal rights.</li>

									<li><strong>(iv)</strong> Promise Not To Bring Suit: I hereby agree and covenant not
										to, and shall cause the
										Releasors not to, bring a claim against, sue, demand compensation from or attach
										the property or assets of
										EMPIRE FIT CLUB or any of their directors, coaches, officers, employees, agents,
										for any loss or damage
										arising or resulting from my participation in EMPIRE FIT CLUB or my travel to or
										from or presence at the
										venue, 2nd forever release and discharge EMPIRE FIT CLUB or any of their
										directors, coaches, officers,
										employees, agents them from liability under such claims.</li>
								</ul>
							</ng-template>
						</ngb-panel>
						<ngb-panel title="Signature">
							<ng-template ngbPanelContent>
								<div class="row">
									<div class="col-md-6">
										<img src="{{member.liability_signature}}" alt="">
									</div>
									<div class="col-md-6">
										<img src="{{member.liability_user_signature}}" alt="">
									</div>
								</div>
							</ng-template>
						</ngb-panel>

					</ngb-accordion>

					<div class="row mt-5">
						<div class="form-group col-md-6 mb-3">
							<label for="firstName" class="d-block mb-2 text-medium"><strong>Member
									Signature</strong></label>
							<button (click)="openLg(signaturesatu)" id="btn-putsignature" class="btn btn-primary">Put
								Signature</button>
							<button class="btn btn-success d-none ml-3 isSuccessLiabilityMemberSign"
								disabled>Success</button>
							<ng-template #signaturesatu let-modal let-c="close" let-d="dismiss">
								<div class="modal-header">
									<h4 class="modal-title"><strong><span class="text-capitalize">Member
												Signature</span></strong></h4>
									<button type="button" class="close" aria-label="Close" (click)="c('close')">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<signature-pad [options]="signaturePadMember" id="member" #member_sign>
									</signature-pad>
									<input type="hidden" formControlName="member_sign" id="member-sign" value="">
									<div class="text-left">
										<button class="btn btn-primary py-2 px-5 mr-3"
											(click)="member_sign.clear()">Clear</button>
										<button class="btn btn-primary py-2 px-5 mr-3"
											(click)="memberliabilitysign(member_sign)">Submit</button>
									</div>
								</div>
							</ng-template>
						</div>
						<div class="form-group col-md-6 mb-3">
							<label for="lastName" class="d-block mb-2 text-medium"><strong>Staff
									Signature</strong></label>


							<button (click)="openLg(signaturedua)" id="btn-putsignaturestaff"
								class="btn btn-primary">Put Signature</button>
							<button class="btn btn-success d-none ml-3 isSuccessLiabilityStaffSign"
								disabled>Success</button>
							<ng-template #signaturedua let-modal let-c="close" let-d="dismiss">
								<div class="modal-header">
									<h4 class="modal-title"><strong><span class="text-capitalize">Staff
												Signature</span></strong></h4>
									<button type="button" class="close" aria-label="Close" (click)="c('close')">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<signature-pad [options]="signaturePadStaff" id="staff" #staff_sign></signature-pad>
									<input type="hidden" formControlName="staff_sign" id="staff-sign" value="">
									<div class="text-left">
										<button class="btn btn-primary py-2 px-5 mr-3"
											(click)="staff_sign.clear()">Clear</button>
										<button class="btn btn-primary py-2 px-5 mr-3"
											(click)="staffliabilitysign(staff_sign)">Submit</button>
									</div>
								</div>
							</ng-template>
						</div>
					</div>
				</form>
			</wizard-step>

			<wizard-step [title]="'Identification'" (onNext)="onStep2Next($event)">
				<form [formGroup]="step2Form">
					<div class="row">
						<div class="col-md-6">
							<div class="px-4 py-3 border border-light rounded align-items-center mb-4">
								<div class="text-muted mb-0">
									<strong>Name</strong>
								</div>
								<div class="text-medium">
									{{member.name}}
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h4 class="fancy-head"><span>Photo</span></h4>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<webcam [height]="250" [width]="250" [trigger]="triggerObservable"
								(imageCapture)="handleImage($event)" *ngIf="showWebcam" [videoOptions]="videoOptions"
								[imageQuality]="1" (initError)="handleInitError($event)">
							</webcam>
						</div>
						<ng-container *ngIf="webcamImage; then adaImage; else gaAda"></ng-container>
						<ng-template #adaImage>
							<div class="col-md-3 snapshot">
								<img [src]="webcamImage.imageAsDataUrl" width="250" height="187" />
							</div>
						</ng-template>
						<ng-template #gaAda>
							<div class="col-md-3 snapshot">
								<img src="{{member.photo}}" alt="" width="250" height="187" />
							</div>
						</ng-template>
					</div>
					<div class="row">
						<!-- <div class="col-md-2">
						              <img src="https://via.placeholder.com/150" alt="" />
						            </div> -->
						<div class="col-md-6">
							<a class="actionBtn btn btn-primary btn-lg btn-block py-3" (click)="triggerSnapshot()">Take
								a Picture</a>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-12 mt-4">
									<h4 class="fancy-head"><span>Fingerprint</span></h4>
								</div>
							</div>
							<div class="row mt-4">
								<div class="col-md-6">
									<div class="px-4 py-3 border border-light rounded align-items-center mb-4">
										<div class="text-muted mb-0">
											status
										</div>
										<div id="finger-status" class="text-medium mt-1">

										</div>
									</div>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md-6">
									<a id="btn-scan" [href]="finger" (click)="checkReg()"
										class="btn btn-primary btn-lg btn-block py-3">Scan</a>
								</div>
							</div>
							<!-- <div class="row mt-2 mb-5">
								<div class="col-md-2">
									<a id="btn-scan" [href]="finger" (click)="checkReg()" class="btn btn-primary btn-lg btn-block py-3">Skip</a>
								</div>
							</div> -->
						</div>
					</div>
				</form>
			</wizard-step>

			<wizard-step [title]="'Membership'" (onNext)="onStep3Next($event)">
				<div class="card mb-4">
					<div class="card-body">
						<form #paymentForm="ngForm" [formGroup]="membershipForm">

							<div class="row">
								<div class="col-6">
									<div class="row">
										<div class="col-12">
											<h4 class="fancy-head"><span>Membership</span></h4>
										</div>
										<div class="col-12">
											<!-- <div class="row mb-4">
												<div class="form-group col-md-12 mb-3">
													<label for="branch_id">Branch</label>
													<select name="branch_id" id="branch_id" class="form-control" formControlName="branch_id">
														<option *ngFor="let item of branch" [value]="branch.id">{{branch.branch_name}}</option>
													</select>
												</div>
											</div> -->

											<div class="row mb-4">
												<div class="form-group col-md-12 mb-3">
													<label for="member_type_id">Type</label>
													<select id="member_type" (change)="getPriceNonPt()" required
														name="member_type_id" formControlName="member_type_id"
														class="form-control">
														<option *ngFor="let title of type" [value]="title.id">
															{{title.member_type_name}}
														</option>
													</select>
												</div>
											</div>

											<div class="row mb-3 d-none" id="isptselect">
												<div class="col-md-12">
													<h4 class="fancy-head"><span>Trainer</span></h4>

													<table id="mytable" class="table table-hover table-bordered"
														cellspacing="0">
														<thead class="text-center">
															<tr>
																<th>Trainer Name</th>
																<th>Status</th>
																<th>Session</th>
																<th>Action</th>
															</tr>
														</thead>
														<tbody class="text-center">
															<tr *ngFor="let trainer of trainers; let i = index">
																<td>{{ trainer.name }}</td>
																<td>{{ trainer.state }}</td>
																<td>{{ trainer.session }}</td>
																<td>
																	<button type="button" name="personal_trainer"
																		(click)="getPtId(trainer.id)"
																		(click)="getPricePt(trainer.price)"
																		(click)="getSession(trainer.session)"
																		class="btn btn-primary personal-trainer">Select</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<div class="row mb-3">
												<input type="hidden" name="session" id="session" class="form-control">
												<div class="col-md-12 mb-3 form-group">
													<label for="expiry_in">Expiry In</label>
													<input readonly type="text" name="expiry_in" id="expiry_in"
														class="form-control">
												</div>
											</div>

											<div class="row">
												<div class="col-12">
													<h4 class="fancy-head"><span>Payment Method</span></h4>
												</div>
											</div>

											<div class="row mb-3">
												<div class="col-md-12 mb-3 form-group">
													<label for="card">Type</label>
													<select (change)="getPriceNonPt()" formControlName="payment_id"
														required id="payment_id" name="payment_id" class="form-control">
														<option *ngFor="let pa of paymenttype" [value]="pa.id">
															{{pa.payment_type_name}}
														</option>
													</select>
												</div>
												<div class="col-md-12 mb-3 form-group">
													<label for="card">Bank</label>
													<select formControlName="bank_id" name="bank_id"
														class="form-control">
														<option [value]=""></option>
														<option *ngFor="let bank of banks" [value]="bank.id">
															{{bank.bank_name}}
														</option>
													</select>
												</div>
												<div class="col-md-12 mb-3 form-group">
													<label for="card_number">Card</label>
													<input formControlName="card_number" type="text" name="card_number"
														class="form-control">
												</div>
												<div class="col-md-12 mb-3 form-group">
													<label for="card_name">Card Name</label>
													<input formControlName="card_name" type="text" name="card_name"
														class="form-control">
												</div>
												<div class="col-md-12 mb-3 form-group">
													<label for="exp_date">Exp Date</label>
													<div class="clearfix"></div>
													<input type="text" placeholder="dd" formControlName="exp_month"
														name="mm" class="form-control d-inline-block"
														style="width:100px">
													/
													<input type="text" placeholder="yyyy" formControlName="exp_year"
														name="yy" class="form-control d-inline-block"
														style="width:100px">
												</div>
												<div class="col-md-12 mb-3 form-group">
													<label for="auto_debit">Auto Debit</label>
													<select (change)="getAutodebitPrice()" formControlName="auto_debet"
														name="auto_debit" class="form-control">
														<option value="1">Yes</option>
														<option value="0">No</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="row mb-3">
										<div class="col-12">
											<h4 class="fancy-head"><span>Total Payment</span></h4>
										</div>
										<div class="col-md-12 mb-3 form-group">
											<label for="price">Amount</label>
											<input readonly class="form-control" type="text" name="price" id="price">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-12">
											<h4 class="fancy-head"><span>Receipt Record</span></h4>
										</div>
										<div class="col-md-12 mb-3 form-group">
											<label for="edc_id">EDC</label>
											<select formControlName="edc_id" name="edc_id" class="form-control">
												<option *ngFor="let edc of edcs" [value]="edc.id">{{edc.bank_name}}
												</option>
											</select>
										</div>
										<div class="col-md-12 mb-3 form-group">
											<label for="traceNumber">Trace Number</label>
											<input formControlName="traceNumber" class="form-control" type="text"
												name="traceNumber" id="traceNumber">
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</wizard-step>

			<wizard-step id="Autodebet" [title]="'Autodebet'" (onNext)="onStep4Next()">
				<div class="mt-0 mb-4">
					<p>I <strong>{{ member.name }}</strong> Have agreed to allow Empire Fit Club to deduct IDR <strong
							class="show-price"></strong>
						from my credit card in order to pay the monthly
						subscriptions. I understand that this payment process is a reoccurringpaymentprocess and the
						agreed amount of
						money will be automatically deducted unless I instructed them other wise.</p>
					<p>Terms &amp; Condition.</p>
					<ul style="list-style: none">
						<li>1. 1-year contract*</li>
						<li>2. Early contract termination: 1 month cancellation fee</li>
						<li>3. Maximum 1x freeze (admin fee IDR 300,000):</li>
						<li> &nbsp;&nbsp;&nbsp;a.) Must provide doctor's note</li>
						<li> &nbsp;&nbsp;&nbsp;b.) Must provide travel itinerary for travel 2 weeks and more</li>
						<li>*: Contract subjected to review are pregnancy, accident (car accident/extreme accident), and
							critical illness-related
							cases with a certified physician’s note</li>
					</ul>
					<!-- <ul>
						<li>Within the 2 months of initial sign up the members are not encouraged to stop the monthly
							subscription.
							(stopping within two months will result on IDR 200.000 process fee)</li>
						<li>Members are allowed to cancel the automatic payment anytime after the initial 2 months after
							the sign up</li>
						<li>The Member are allowed to freeze the account for the minimum of 15 days and maximum of 3
							months</li>
						<li>To freeze or stop the membership, the member will have to notify 2 weeks prior.</li>
						<li>Empire has the right to stop the membership or auto deduction at anytime they see fit.</li>
					</ul> -->

					<div class="row">
						<div class="col-md-7 mb-4 mb-md-0">
							<div class="px-4 py-3 border border-light rounded align-items-center">
								<div class="row mb-3">
									<div class="col-3">
										Name on Card
									</div>
									<div class="col-9">
										<div class="boxvalue" id="card_name_text">
											{{!! cc_name ? cc_name : "-"}}
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-3">
										Card Number
									</div>
									<div class="col-9">
										<div class="boxvalue" id="card_number_text">
											{{!! cc_card ? cc_card : "-"}}
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-3">
										EXP Date
									</div>
									<div class="col-9">
										<div class="boxvalue d-inline-block">
											<label for="" id="card_month_text">{{!! cc_month ? cc_month : "-"}}</label>
											<label for=""> / </label>
											<label for="" id="card_year_text">{{!! cc_year ? cc_year : "-"}}</label>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-3">
										Date
									</div>
									<div class="col-9">
										<div class="boxvalue" id="card_date_text">
											{{!! cc_date ? cc_date : "-"}}
										</div>
										<input id="card_id_text" class="form-control" type="hidden">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<button (click)="openLg(signaturetiga)" class="btn btn-primary">Put Signature</button>
							<button class="btn btn-success d-none ml-3 isSuccessAutodebitSign" disabled>Success</button>
							<ng-template #signaturetiga let-modal let-c="close" let-d="dismiss">
								<div class="modal-header">
									<h4 class="modal-title"><strong><span class="text-capitalize">Member
												Signature</span></strong></h4>
									<button type="button" class="close" aria-label="Close" (click)="c('close')">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<signature-pad [options]="debitsign" id="debit" #debit_sign></signature-pad>
									<input type="hidden" id="debit-sign" value="">
									<div class="text-left">
										<button class="btn btn-primary py-2 px-5 mr-3"
											(click)="debit_sign.clear()">Clear</button>
										<button class="btn btn-primary py-2 px-5 mr-3"
											(click)="memberautodebitsign(debit_sign)">Submit</button>
									</div>
								</div>
							</ng-template>
						</div>
						<div class="col-md-5">
							<div *ngIf="cc_signature">
								<img class="img-fluid" src="{{!! cc_signature ? cc_signature : '' }}" alt="">
							</div>
						</div>
					</div>
				</div>
			</wizard-step>

			<wizard-step [title]="'Final'" (onComplete)="onComplete($event)">
				<div class="p5 text-center mt-5">
					<i class="text-50 i-Checked-User text-success"></i>

					<h2 class="mt-5">Thank you! you have completed all the steps. &amp; Registration is successful</h2>
				</div>
			</wizard-step>

		</form-wizard>

	</div>
</div>