<div class="breadcrumb">
  <h1>Dropin Company</h1>
  <ul>
    <li>Create</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Form Create Dropin Company</div>
        <form [formGroup]="dropinCompanyForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="partner_name">Dropin Company</label>
              <input
                autofocus
                type="text"
                class="form-control form-control-rounded"
                id="partner_name"
                placeholder="Enter dropin company "
                formControlName="partner_name"
              />
              <i
                *ngIf="
                  !dropinCompanyForm.get('partner_name').valid &&
                  dropinCompanyForm.get('partner_name').touched
                "
                class="i-Information text-danger"
              >
                Please enter dropin company name</i
              >
            </div>

            <div class="col-md-12">
              <btn-loading
                btnClass="btn-primary btn-rounded"
                [loading]="loading"
                >Save</btn-loading
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
