<div class="breadcrumb">
  <h1>Device</h1>
  <ul>
    <li>Update</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Form Update Device</div>
        <form [formGroup]="deviceForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="sn">SN</label>
              <input
                autofocus
                type="text"
                class="form-control "
                id="sn"
                placeholder="Enter SN "
                formControlName="sn"
              />
              <i
                *ngIf="
                  !deviceForm.get('sn').valid && deviceForm.get('sn').touched
                "
                class="i-Information text-danger"
              >
                Please enter Serial Number</i
              >
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="device_name">Device Name</label>
              <input
                autofocus
                type="text"
                class="form-control "
                id="device_name"
                placeholder="Enter Device "
                formControlName="device_name"
              />
              <i
                *ngIf="
                  !deviceForm.get('device_name').valid &&
                  deviceForm.get('device_name').touched
                "
                class="i-Information text-danger"
              >
                Please enter Device name</i
              >
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="vc">VC</label>
              <input
                autofocus
                type="text"
                class="form-control "
                id="vc"
                placeholder="Enter VC "
                formControlName="vc"
              />
              <i
                *ngIf="
                  !deviceForm.get('vc').valid && deviceForm.get('vc').touched
                "
                class="i-Information text-danger"
              >
                Please enter VC</i
              >
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="ac">AC</label>
              <input
                autofocus
                type="text"
                class="form-control "
                id="ac"
                placeholder="Enter AC "
                formControlName="ac"
              />
              <i
                *ngIf="
                  !deviceForm.get('ac').valid && deviceForm.get('ac').touched
                "
                class="i-Information text-danger"
              >
                Please enter AC</i
              >
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="vkey">VKEY</label>
              <input
                autofocus
                type="text"
                class="form-control "
                id="vkey"
                placeholder="Enter VKEY "
                formControlName="vkey"
              />
              <i
                *ngIf="
                  !deviceForm.get('vkey').valid &&
                  deviceForm.get('vkey').touched
                "
                class="i-Information text-danger"
              >
                Please enter VKEY</i
              >
            </div>

            <div class="col-md-12">
              <btn-loading
                btnClass="btn-primary btn-rounded"
                [loading]="loading"
                >Save</btn-loading
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
