<div class="pleasescroll">
  <div class="breadcrumb">
    <h1>Finance</h1>
    <ul>
      <li>Recurring Report</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row mb-4">
    <div class="col-md-12 mb-2">
      <div class="fancy-head"><span>Summary</span></div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="text-small">Total Recurring Payment</div>
              <div class="form-control totrec">
                IDR {{total_recuring_payment | number:0}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="text-small">Total Unpaid</div>
              <div class="form-control totun">
                IDR {{total_unpaid | number:0}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="fancy-head"><span>Search</span></div>
      <form [formGroup]="userForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-md-3 col-xl-2">
            <div class="text-small">Branch</div>
            <select class="form-control" formControlName="branch_id">
              <option *ngFor="let brn of branches" value="{{brn.id}}">{{brn.branch_name}}</option>
            </select>
          </div>
          <div class="col-md-3 col-xl-2">
            <div class="text-small">EDC Machine</div>
            <select class="form-control" formControlName="edc_id">
              <option *ngFor="let edc of edcs" value="{{edc.id}}">{{edc.bank_name}}</option>
            </select>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="text-small">Date</div>
            <div class="row">
              <div class="col mb-3 mb-md-0">
                <div class="input-group">
                  <input class="form-control defaultfd" placeholder="yyyy-mm-dd" ngbDatepicker #cp="ngbDatepicker"
                    (dateSelect)="changeDate($event, 'first_date')">
                  <input type="hidden" class="first_actualdate" formControlName="first_date">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" style="height:41px;" (click)="cp.toggle()"
                      type="button">
                      <i class="icon-regular i-Calendar-4"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col mb-3 mb-md-0">
                <div class="input-group">
                  <input class="form-control defaultsd" placeholder="yyyy-mm-dd" ngbDatepicker #sd="ngbDatepicker"
                    (dateSelect)="changeDate($event, 'second_date')">
                  <input type="hidden" class="first_actualdate" formControlName="second_date">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" style="height:41px;" (click)="sd.toggle()"
                      type="button">
                      <i class="icon-regular i-Calendar-4"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 mt-3 mt-xl-0 col-xl-3">
            <div class="text-small mb-3">Finance Status</div>
            <input type="radio" checked value="1" formControlName="progress"> Done
            <input class="ml-2" type="radio" checked value="0" formControlName="progress"> Undone
            <input class="ml-2" type="radio" checked value="ALL" formControlName="progress"> All
          </div>
          <div class="col-md-7 mt-3 mt-xl-0 col-xl-1">
            <div class="text-small">&nbsp;</div>
            <button class="btn btn-warning btn-block py-2">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="pdfsample">
    <div class="col-md-12">
      <div class="card o-hidden">
        <div class="table mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="container">
                <table id="mytable" class="table table-hover" cellspacing="0" style="min-width: 100px;">
                  <thead class="tocpy">
                    <tr>
                      <th width="30%">Action</th>
                      <th>Date</th>
                      <th>Member</th>
                      <th>Name on Card</th>
                      <th>CC Number</th>
                      <th>EXP Date</th>
                      <th>Recurring Date</th>
                      <th>Recurring Payment</th>
                      <th>Unpaid (IDR)</th>
                      <th>Finance Status</th>
                      <th>Finance Notes</th>
                      <th>Bank Approval Code</th>
                      <th>Bank Notes</th>
                      <th>Bank Withdrawal</th>
                      <th>FO Status</th>
                      <th>FO Payment</th>
                    </tr>
                  </thead>
                  <tbody class="partners">
                    <tr *ngFor="let item of finance">
                      <td class="text-center">
                        <button class="btn prog-{{item.progress}} btn-sm btn-warning mr-2 ajax-update-btn"
                          (click)="dialogconfirm($event, item.id)"><i class="i-Yes"></i></button>
                        <a routerLink="/finance/recurring-form/{{ item.id }}" class="btn btn-sm mr-2 btn-warning"><i
                            class="i-Pen-4"></i></a>
                        <button class="btn btn-sm btn-warning mr-2 download_sign"
                          (click)="memberpdf(item.id, item.signature_base, item.member_name)">
                          <i class="i-Download"></i>
                        </button>
                        <button class="btn ref-{{item.progress}} btn-sm btn-warning mr-2 refund-btn"
                          (click)="refund(item.id)">
                          <i class="i-Token-"></i>
                        </button>
                      </td>
                      <td>{{ item.date }}</td>
                      <td>{{ item.member_name }}</td>
                      <td>{{ item.credit_card_name }}</td>
                      <td>{{ item.credit_card_number }}</td>
                      <td>{{ item.credit_card_exp_month }} - {{ item.credit_card_exp_year }}</td>
                      <td>{{ item.recuring_date }}</td>
                      <td>{{ item.recuring_payment | number:0 }}</td>
                      <td>{{ item.unpaid | number:0 }}</td>
                      <td>{{ item.finance_status }}</td>
                      <td>{{ !! item.finance_notes ? item.finance_notes : 'n/a' }}</td>
                      <td>{{ !! item.bank_approval_code ? item.bank_approval_code : 'n/a' }}</td>
                      <td>{{ !! item.bank_notes ? item.bank_notes : 'n/a' }}</td>
                      <td>{{ !! item.bank_withdrawal ? item.bank_withdrawal : 'n/a' }}</td>
                      <td>{{ !! item.fo_status ? item.fo_status : 'n/a' }}</td>
                      <td>{{ !! item.fo_payment ? item.fo_payment : 'n/a' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary btn-lg mt-4" (click)="topdf()">Download PDF</button>
    </div>
  </div>
</div>

<div class="d-none">
  <div *ngFor="let item of financepdf" id="pdf-{{item.id}}">
    <p align="center" style="font-size: 20pt;text-align:center;margin-bottom:10pt"><strong>Empire Fit Club recurring
        automatic payment</strong></p>
    <p>I <strong>{{item.member_name}}</strong> Have agreed to allow Empire Fit Club to deduct IDR <strong>{{item.recuring_payment
        | number:0}}</strong> from my credit card in order to pay the monthly subscriptions.I understand that this
      payment process is a reoccurringpayment process and the agreed amount of money will be automatically deducted
      unless I instructed them other wise.</p>

    <p><strong>Terms &amp; Condition.</strong></p>

    <ul style="list-style: none">
      <li>1. 1-year contract*</li>
      <li>2. Early contract termination: 2 months cancellation fee</li>
      <li>3. Maximum 1x freeze (admin fee IDR 300,000):</li>
      <li> &nbsp;&nbsp;&nbsp;a.) Must provide doctor's note</li>
      <li> &nbsp;&nbsp;&nbsp;b.) Must provide travel itinerary for travel 2 weeks and more</li>
      <li>*: Contract subjected to review are pregnancy, accident (car accident/extreme accident), and
        critical illness-related
        cases with a certified physician’s note</li>
    </ul>
    <p color="white">.</p>

    <p><strong>Name on the Card:</strong> {{item.credit_card_name}}</p>
    <p><strong>Card Number:</strong> {{item.credit_card_number}}</p>
    <p><strong>Exp. Date:</strong> {{ item.credit_card_exp_month }}/{{ item.credit_card_exp_year }}</p>
    <p><br><br><br></p>
    <p><strong>Date:</strong> {{tanggal}}</p>
    <p><strong>Signature:</strong></p>
  </div>
</div>

<div class="d-none">
  <div id="downloadfinance">
    <div class="row">
      <p style="margin-left: 140px;">
        <b>Branch : </b>{{ edc.branch_name }}
      </p>
      <p style="margin-left: 140px;">
        <b>EDC : </b>{{ edc.bank_name }}
      </p>
      <p style="margin-left: 140px;">
        <b>MID : </b>{{ edc.mid }}
      </p>
      <p style="margin-left: 140px;">
        <b>TID : </b>{{ edc.tid }}
      </p>
    </div>
  </div>
  <table id="example-table" class="table table-hover" cellspacing="0" style="min-width: 100px;">
    <thead class="text-center tocpy">
      <tr>
        <th>CC Number</th>
        <th>Card Name</th>
        <th>EXP Date</th>
        <th>Bank Name</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Formula</th>
      </tr>
    </thead>
    <tbody class="text-center partners">
      <tr *ngFor="let item of finance; let i = index">
        <td>{{ item.credit_card_number }}</td>
        <td>{{ item.credit_card_name }}</td>
        <td>{{ item.credit_card_exp_month }}/{{ item.credit_card_exp_year }}</td>
        <td>{{ item.credit_card_bank_name }}</td>
        <td>-</td>
        <td>{{ item.recuring_payment | number:0 }}</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <ng-template #toprint let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Preview</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="printpdf">
      <div class="mb-4">
        <h2>Credit Card Recurring List</h2>
        <h3><strong>EMPIRE FIT CLUB</strong></h3>
        <div class="text-small">
          Branch: {{edc.branch_name}}<br>
          EDC: {{edc.bank_name}}<br>
          MID: {{edc.mid}}<br>
          TID: {{edc.tid}}<br>
        </div>
      </div>
      <div class="px-1">
        <table id="example-table" class="table table-hover table-bordered table-striped" cellspacing="0">
          <thead class="text-center bg-dark text-light">
            <tr>
              <th>CC Number</th>
              <th>Card Name</th>
              <th>EXP Date</th>
              <th>Bank Name</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Formula</th>
            </tr>
          </thead>
          <tbody class="text-center partners">
            <tr *ngFor="let item of finance; let i = index">
              <td>{{ item.credit_card_number }}</td>
              <td>{{ item.credit_card_name }}</td>
              <td>{{ item.credit_card_exp_month }}/{{ item.credit_card_exp_year }}</td>
              <td>{{ item.credit_card_bank_name }}</td>
              <td>-</td>
              <td>{{ item.recuring_payment | number:0 }}</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <button id="pdf-download" class="btn btn-primary">PDF Download</button>
    <button (click)="c('close')" class="btn btn-warning mx-2">Close</button>
  </div>
</ng-template> -->