<div class="">
  <div class="breadcrumb">
    <h1>Class Participants</h1>
    <ul>
      <li>List</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="card o-hidden">
        <div class="table table-responsive mt-4">
          <form [formGroup]="searchForm" (submit)="submit()">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-xl-2 form-group mb-3">
                  <label for="branch_id">Branch</label>
                  <select formControlName="branch_id" class="form-control">
                    <option *ngFor="let branch of branches" [value]="branch.id">{{branch.branch_name}}</option>
                  </select>
                </div>
                <div class="col-md-4 form-group mb-3">
                  <label for="date">Class Date</label>
                  <div class="input-group">
                    <input class="form-control defaultclassdate" placeholder="yyyy-mm-dd" ngbDatepicker #date="ngbDatepicker"
                      (dateSelect)="changeDate($event, 'date')">
                    <input type="hidden" class="first_actualdate" formControlName="date">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-secondary" style="height:41px;" (click)="date.toggle()" type="button">
                        <i class="icon-regular i-Calendar-4"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 form-group mb-3">
                  <label for="schedule_id">Class Time & Name</label>
                  <select formControlName="schedule_id" class="form-control" id="schedule_list">
                  </select>
                </div>
                <div class="col-md-2 mt-4 form-group mb-3">
                  <button type="submit" class="btn btn-warning btn-block">Search</button>
                </div>
              </div>
            </div>
          </form>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="container">
                <table id="mytable" class="table table-hover" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Partner Name</th>
                      <th>Class Date</th>
                      <th>Class Time</th>
                      <!-- <th>Delay Time</th> -->
                      <th>Class Name</th>
                      <th>Name</th>
                      <th>Phone Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let class of classregistrations">
                      <td>{{ class.partner_name }}</td>
                      <td class="text-center">{{ class.date }}</td>
                      <td class="text-center">{{ class.schedule_time }}</td>
                      <!-- <td class="text-center">{{ class.delay_time }}</td> -->
                      <td>{{ class.exercise }}</td>
                      <td>{{ class.member_name }}</td>
                      <td class="text-center">{{ class.phone }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>