<div class="">
  <div class="breadcrumb">
    <h1>Finance</h1>
    <ul>
      <li>Transaction list</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-12 mb-3">
          <div class="fancy-head"><span>BIODATA</span></div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="mb-3">
            <label>Member Name</label>
            <input type="text" class="form-control" [attr.value]="finance.member_name" readonly />
          </div>
          <div class="mb-3">
            <label>Member Type</label>
            <input type="text" class="form-control" [attr.value]="finance.member_name" readonly />
          </div>
          <div class="mb-3">
            <label>Payment Type</label>
            <input type="text" class="form-control" [attr.value]="finance.member_name" readonly />
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="mb-3">
            <label>CC Number</label>
            <input type="text" class="form-control" [attr.value]="finance.credit_card_number" readonly />
          </div>
          <div class="mb-3">
            <label>Name on Card</label>
            <input type="text" class="form-control" [attr.value]="finance.credit_card_name" readonly />
          </div>
          <div class="mb-3">
            <label>Exp. Date</label>
            <input type="text" class="form-control" value="{{finance.credit_card_exp_month}} / {{finance.credit_card_exp_year}}"
              readonly />
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="fancy-head mb-3"><span>RECURRING</span></div>

          <div class="mb-3">
            <label>Recurring Date</label>
            <input type="text" class="form-control" [attr.value]="finance.recuring_date" readonly />
          </div>

          <div class="mb-3">
            <label>Recurring Payment (Rp)</label>
            <input type="text" class="form-control" [attr.value]="finance.recuring_payment | number:0" readonly />
          </div>

          <div class="mb-3">
            <label>Recurring Unpaid (Rp)</label>
            <input type="text" class="form-control" [attr.value]="finance.unpaid | number:0" readonly />
          </div>

          <div class="fancy-head mb-3 mt-5"><span>FRONT OFFICE</span></div>

          <div class="mb-3">
            <label>Front office status</label>
            <input type="text" class="form-control" [attr.value]="!!finance.fo_status ? finance.fo_status : 'n/a'"
              readonly />
          </div>
          <div class="mb-3">
            <label>Payment</label>
            <input type="text" class="form-control" [attr.value]="finance.fo_payment | number:0" readonly />
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <form [formGroup]="userForm" (ngSubmit)="submit()">
            <div class="fancy-head mb-3"><span>Finance</span></div>

            <div class="mb-3">
              <label class="text-capitalize">finance status</label>
              <select class="form-control" formControlName="finance_status">
                <option value="DONE">Done</option>
                <option value="UNDONE">Undone</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="text-capitalize">Finance Notes</label>
              <textarea formControlName="finance_notes" cols="30" rows="3" class="form-control">{{finance.finance_notes}}</textarea>
            </div>
            <div class="mb-3">
              <label class="text-capitalize">Bank approval code</label>
              <input type="text" class="form-control" formControlName="bank_approval_code" />
            </div>
            <div class="mb-3">
              <label class="text-capitalize">Bank Notes</label>
              <textarea formControlName="bank_notes" cols="30" rows="3" class="form-control">{{finance.bank_notes}}</textarea>
            </div>
            <div class="mb-3">
              <label class="text-capitalize">Bank Withdrawal</label>
              <input type="text" class="form-control" formControlName="bank_withdrawal" />
            </div>
            <div class="text-right"><button class="btn-primary btn-rounded btn-lg" id="saving">Save Changes</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>