<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="mt-3">
        Not Found! Please ask Customer to register online by accessing URL below
      </h2>
    </div>
    <div class="col-md-12 text-center">
      <a class="btn btn-lg btn-primary" href="https://register.empirefit.club">
        aje.bz/efc
      </a>
    </div>
    <div class="col-md-12 mt-2 text-center">
      <button class="btn btn-lg btn-warning" (click)="back()">
        Back
      </button>
    </div>
  </div>
</div>