<div class="breadcrumb">
  <h1>Staff</h1>
  <ul>
    <li>Registration</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <form-wizard>
      <wizard-step [title]="'Basic Info'" (onNext)="onStep1Next($event)">
        <form [formGroup]="staffRegistrationForm">
          <div class="row">
            <div class="form-group col-md-6 mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter name"
                formControlName="name"
              />
              <i
                *ngIf="
                  !staffRegistrationForm.get('name').valid &&
                  staffRegistrationForm.get('name').touched
                "
                class="i-Information text-danger"
              >
                Please enter this field</i
              >
            </div>
            <div class="form-group col-md-6 mb-3">
              <label for="email">Email address</label>
              <input
                required
                type="email"
                class="form-control"
                id="email"
                name="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                formControlName="email"
              />
              <i
                *ngIf="
                  !staffRegistrationForm.get('email').valid &&
                  staffRegistrationForm.get('email').touched
                "
                class="i-Information text-danger"
              >
                Please enter this field</i
              >
            </div>
            <div class="form-group col-md-6">
              <label for="phone">Phone number</label>
              <input
                required
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                placeholder="Enter Phone"
                formControlName="phone"
              />
              <i
                *ngIf="
                  !staffRegistrationForm.get('phone').valid &&
                  staffRegistrationForm.get('phone').touched
                "
                class="i-Information text-danger"
              >
                Please enter this field</i
              >
            </div>
            <div class="form-group col-md-6">
              <label for="id_card">ID Card</label>
              <input
                required
                type="text"
                class="form-control"
                id="id_card"
                name="id_card"
                placeholder="ID Card Number"
                formControlName="id_card"
              />
              <i
                *ngIf="
                  !staffRegistrationForm.get('id_card').valid &&
                  staffRegistrationForm.get('id_card').touched
                "
                class="i-Information text-danger"
              >
                Please enter this field</i
              >
            </div>
            <div class="form-group col-md-6">
              <label for="date_of_birth">Date Of Birth</label>
              <div class="row">
                <div class="col-10">
                  <input
                    required
                    type="text"
                    class="form-control"
                    id="date_of_birth"
                    name="date_of_birth"
                    placeholder="YYYY-MM-DD"
                    ngbDatepicker
                    formControlName="date_of_birth"
                    #dp1="ngbDatepicker"
                  />
                  <i
                    *ngIf="
                      !staffRegistrationForm.get('date_of_birth').valid &&
                      staffRegistrationForm.get('date_of_birth').touched
                    "
                    class="i-Information text-danger"
                  >
                    Please enter this field</i
                  >
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-secondary"
                    (click)="dp1.toggle()"
                    type="button"
                  >
                    <i class="icon-regular i-Calendar-4"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="bank_id">Account Bank</label>
              <select
                formControlName="bank_id"
                name="bank_id"
                id="bank_id"
                class="form-control"
              >
                <option
                  [value]="bank.id"
                  *ngFor="let bank of banks"
                  value="bank.id"
                >
                  {{ bank.bank_name }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="account_number">Account Number</label>
              <input
                type="text"
                class="form-control"
                id="account_number"
                name="account_number"
                placeholder="Enter Account Number"
                formControlName="account_number"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="branch_id">Branch</label>
              <select
                formControlName="branch_id"
                name="branch_id"
                id="branch_id"
                class="form-control"
              >
                <option
                  [value]="branch.id"
                  *ngFor="let branch of branches"
                  value="branch.id"
                >
                  {{ branch.branch_name }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-12">
              <label for="address">Address</label>
              <textarea
                class="form-control"
                name="address"
                id="address"
                cols="30"
                rows="5"
                formControlName="address"
              ></textarea>
            </div>
            <div class="col-md-12 mb-3">
              <hr />
              <h4>Position :</h4>
            </div>
            <div class="col-md-12" *ngFor="let position of positions">
              <label class="checkbox checkbox-secondary">
                <input
                  checked
                  type="checkbox"
                  name="position"
                  value="{{ position.id }}"
                />
                <span>{{ position.position_name }}</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <input type="hidden" class="position-final" value="" />
          </div>
        </form>
      </wizard-step>

      <wizard-step [title]="'Identification'" (onComplete)="onComplete($event)">
        <form [formGroup]="staffRegistrationForm">
          <div class="row">
            <div class="col-md-6">
              <div
                class="px-4 py-3 border border-light rounded align-items-center mb-4"
              >
                <div class="text-muted mb-0">
                  <strong>Name</strong>
                </div>
                <div id="staff_name" class="text-medium">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4 class="fancy-head"><span>Photo</span></h4>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <img src="https://via.placeholder.com/150" alt="" />
            </div>
            <div class="col-md-4">
              <a href="#" class="btn btn-primary btn-lg btn-block py-3"
                >Take a Picture</a
              >
              <a href="#" class="btn btn-primary btn-lg btn-block py-3"
                >Retry</a
              >
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-12 mt-4">
                  <h4 class="fancy-head"><span>Fingerprint</span></h4>
                </div>
                <div class="col-2">
                  <img src="https://via.placeholder.com/150" alt="" />
                </div>
                <div class="col-2">
                  <img src="https://via.placeholder.com/150" alt="" />
                </div>
                <div class="col-2">
                  <img src="https://via.placeholder.com/150" alt="" />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <div
                    class="px-4 py-3 border border-light rounded align-items-center mb-4"
                  >
                    <div class="text-muted mb-0">
                      status
                    </div>
                    <div id="staff_status" class="text-medium mt-1"></div>
                  </div>
                </div>
              </div>
              <div class="row mt-2 mb-5">
                <div class="col-md-6">
                  <a href="#" class="btn btn-primary btn-lg btn-block py-3"
                    >Retry</a
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
      </wizard-step>
    </form-wizard>
  </div>
</div>
