<div class="">
  <div class="breadcrumb">
    <h1>Class History</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <label for=""><b>Branch : </b>{{ branch_id }}</label><br>
      <label for=""><b>Date : </b>{{ today }}</label><br>
      <label for=""><b>Class Time : </b>{{ time }}</label><br>
      <label for=""><b>Class Name : </b>{{ exercise }}</label><br>
      <label for=""><b>Total Participants : </b>{{ totalparticipants }}</label><br>
    </div>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary mb-2" (click)="back()">Back</button>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-warning mb-2" (click)="downloadClass()">Download PDF</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card o-hidden">
        <div class="table table-responsive mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="container">
                <table id="mytable" class="table table-hover" cellspacing="0" style="min-width: 100px;">
                  <thead>
                    <tr>
                      <th scope="col">Member ID</th>
                      <th scope="col">Dropin Partner</th>
                      <th scope="col">Member Name</th>
                      <th scope="col">Member Type</th>
                      <th scope="col">Scan Time</th>
                      <th scope="col">Canceled</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr *ngFor="let res of classhistory">
                      <td>{{ res.member_code ? res.member_code : 'Member Partner' }}</td>
                      <td>{{ res.partner_name }}</td>
                      <td>{{ res.member_name }}</td>
                      <td>{{ res.member_type ? res.member_type : '-' }}</td>
                      <td>{{ res.checkin_time }}</td>
                      <td>{{ res.canceled == '1' ? 'Yes' : 'No' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-none">
  <div id="downloadclass">
    <div class="row">
      <p style="margin-left: 140px;">
        <b>Branch : </b>{{ branch_id }}
      </p>
      <p style="margin-left: 140px;">
        <b>Date : </b>{{ today }}
      </p>
      <p style="margin-left: 140px;">
        <b>Class Time : </b>{{ time }}
      </p>
      <p style="margin-left: 140px;">
        <b>Class Name : </b>{{ exercise }}
      </p>
      <p style="margin-left: 140px;">
        <b>Total Participants : </b>{{ totalparticipants }}
      </p>
    </div>
  </div>
</div>