<div class="">
  <div class="breadcrumb">
    <h1>Permission</h1>
    <ul>
      <li>{{ role }}</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="card o-hidden">
        <div class="table table-responsive mt-4">
          <form (ngSubmit)="submit()">
            <div class="row">
              <div class="col-md-12">
                <div class="container">
                  <table id="mytable" class="table table-hover" cellspacing="0">
                    <thead class="text-center">
                      <tr>
                        <th>Permission Name</th>
                        <th>Display Name</th>
                        <th>Description</th>
                        <th>
                          <input type="checkbox" class="selectall" />
                          <span class="checkmark"></span>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr *ngFor="let list of permissions">
                        <td>{{ list.name }}</td>
                        <td>{{ list.display_name }}</td>
                        <td>{{ list.description }}</td>
                        <td>
                          <input
                            type="checkbox"
                            name="permission"
                            value="{{ list.id }}"
                          />
                          <span class="checkmark"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row pr-4">
              <div class="col-12 text-right">
                <input type="hidden" class="permission-final" value="" />
                <btn-loading
                  btnClass="btn-primary btn-rounded"
                  [loading]="loading"
                  >Save</btn-loading
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
