<div class="">
  <div class="breadcrumb">
    <h1>Permission</h1>
    <ul>
      <li>{{ role }}</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="mt-4">
        <form (ngSubmit)="submit()">
          <div class="card o-hidden">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="table table-responsive">
                    <table id="mytable" class="table table-hover" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Permission Name</th>
                          <th>Display Name</th>
                          <th>Description</th>
                          <th>
                            <label class="checkbox checkbox-secondary">
                              <input type="checkbox" class="selectall" />
                              <span class="checkmark"></span>
                            </label>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let list of permissions">
                          <td>{{ list.name }}</td>
                          <td>{{ list.display_name }}</td>
                          <td>{{ list.description }}</td>
                          <td class="text-right">
                            <label class="checkbox checkbox-secondary">
                              <input type="checkbox" name="permission" value="{{ list.id }}" />
                              <span class="checkmark"></span>
                            </label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 text-right">
              <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Save</btn-loading>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>