<div class="breadcrumb">
  <h1>Reset Password</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Form reset password</div>
        <form [formGroup]="resetForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="old_password">Old password</label>
              <input autofocus type="password" class="form-control " id="old_password" placeholder="Enter old password "
                formControlName="old_password" />
              <i *ngIf="
                  !resetForm.get('old_password').valid &&
                  resetForm.get('old_password').touched
                " class="i-Information text-danger">
                Please enter old password</i>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="new_password">New password</label>
              <input type="password" class="form-control " id="new_password" placeholder="Enter new password "
                formControlName="new_password" />
              <i *ngIf="!resetForm.get('new_password').valid && resetForm.get('new_password').touched"
                class="i-Information text-danger">
                Please enter new password</i>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="password_confirmation">Confirmation password</label>
              <input type="password" class="form-control " id="password_confirmation"
                placeholder="Enter confirmation password " formControlName="password_confirmation">
              <i *ngIf="!resetForm.get('password_confirmation').valid && resetForm.get('password_confirmation').touched"
                class="i-Information text-danger">
                Please enter confirmation password</i>
            </div>

            <div class="col-md-12">
              <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Save</btn-loading>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>