<div class="breadcrumb">
  <h1>Customer Search</h1>
  <ul>
    <li>Detail</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-4">
  <div class="col-md-6 mb-4 mb-md-0">
    <div class="card mb-4">
      <div class="card-body">
        <div class="fancy-head"><span>Biodata</span></div>
        <div class="row">
          <div class="col-md-3">
            <div class="avatar">
              <img src="{{
                  !!member.photo ? member.photo : '/assets/images/user.png'
                }}"
                class="img-fluid rounded-circle" alt="" />
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-4">
                  <span class="text-muted mb-0">Name</span>
                  <div class="text-medium text-primary mt-1">
                    {{ member.name }}
                  </div>
                </div>
                <div>
                  <span class="text-muted mb-0">Phone</span>
                  <div class="text-medium text-primary mt-1">
                    {{ member.phone }}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-4">
                  <span class="text-muted mb-0">Club</span>
                  <div class="text-medium text-primary mt-1">
                    {{ member.branch_name }}
                  </div>
                </div>
                <div>
                  <span class="text-muted mb-0">ID Card Number</span>
                  <div class="text-medium text-primary mt-1">
                    {{ member.id_card_number }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-3">
            <div class="fancy-head"><span>Membership</span></div>
          </div>
          <div *ngIf="status_leave">
            <div class="container mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="container">
                    <div class="row border border-light rounded">
                      <div class="col-12 mb-3">
                        <div class="fancy-head text-danger"><span>Membership Inactive</span></div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="px-4 py-3 border border-light rounded align-items-center mb-4">
                          <span class="text-muted mb-0">Reason</span>
                          <div class="text-medium text-primary mt-1">
                            {{ !! status ? status : "Unverified" }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="px-4 py-3 border border-light rounded align-items-center">
                          <span class="text-muted mb-0">Active Date</span>
                          <div class="text-medium text-primary mt-1">
                            {{ !! member.active_date ? member.active_date : "-" }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <button (click)="open(reactivate)" id="btn-reactivate" class="btn btn-primary btn-lg btn-block py-3">Reactivate</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="status_unpaid">
            <div class="container mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="container">
                    <div class="row border border-light rounded">
                      <div class="col-12 mb-3">
                        <div class="fancy-head text-danger"><span>Membership Inactive</span></div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="px-4 py-3 border border-light rounded align-items-center mb-4">
                          <span class="text-muted mb-0">Reason</span>
                          <div class="text-medium text-primary mt-1">
                            PAYMENT UNPAID IDR {{ payment_unpaid | number:0 }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="px-4 py-3 border border-light rounded align-items-center mb-4">
                          <span class="text-muted mb-0">Finance Notes</span>
                          <div class="text-medium text-primary mt-1">
                            {{ finance_notes ? finance_notes : "-" }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="px-4 py-3 border border-light rounded align-items-center mb-4">
              <span class="text-muted mb-0">Type</span>
              <div class="text-medium text-primary mt-1">
                {{ !!member.member_type_name ? member.member_type_name : "-" }}
              </div>
            </div>
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">Expiry Date</span>
              <div class="text-medium text-primary mt-1">
                {{ !! member.expairy_date ? member.expairy_date : "-" }}
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="px-4 py-3 border border-light rounded align-items-center mb-4">
              <span class="text-muted mb-0">Session Remains</span>
              <div class="text-medium text-primary mt-1">
                {{ !!member.session_remains ? member.session_remains : "-" }}
              </div>
            </div>
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">Personal Trainer Name</span>
              <div class="text-medium text-primary mt-1">
                {{!! personaltrainername ? personaltrainername : "-" }}
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6 mb-3">
            <button id="btn-membership" type="button" (click)="disabledMenu()" (click)="open(choice)" class="btn btn-primary btn-lg btn-block py-3">Membership
              Update</button>
          </div>
          <div class="col-md-6 mb-3">
            <button (click)="open(leave)" id="btn-membership-leave" class="btn btn-primary btn-lg btn-block py-3">Leave</button>
          </div>
          <div class="col-md-6 mb-3">
            <a id="btn-membership-history" routerLink="/dashboard/member/membership-history/{{ member.id }}" class="btn btn-primary btn-lg btn-block py-3">Membership
              History</a>
          </div>
          <div class="col-md-6 mb-3">
            <button id="btn-membership-leave-history" (click)="openLg(leaveHistory)" class="btn btn-primary btn-lg btn-block py-3">Leave
              History</button>
          </div>
          <div class="col-md-6 mb-3">
            <a id="btn-ptsession" routerLink="/dashboard/member/pt-session/{{ member.id }}" class="btn btn-primary btn-lg btn-block py-3">PT
              Session</a>
          </div>
          <div class="col-md-6 mb-3">
            <button (click)="downloadbio()" id="pdf-bio" class="btn btn-primary btn-lg btn-block py-3">Bio &amp;
              Liability (PDF)</button>
          </div>
        </div>
      </div>
    </div>

    <!-- PAYMENT -->
    <div class="card mb-4" *ngIf="cc_autodebit_payment">
      <div class="card-body">
        <div class="fancy-head mb-3">
          <span>CC Autodebit Payment</span>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">Type</span>
              <div class="text-medium text-primary mt-1">
                {{
                !!member.payment_type_name ? member.payment_type_name : "-"
                }}
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">Auto Debit</span>
              <div class="text-medium text-primary mt-1">
                {{ !!member.auto_debet === false ? "No" : "Yes" }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">Recurring Date</span>
              <div class="text-medium text-primary mt-1 recuring_date_leave">
                {{ recuring_date }} ON {{ full_recuring_date ? full_recuring_date : "-" }}
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">Payment Unpaid</span>
              <div class="text-medium text-primary mt-1">
                Rp {{ payment_unpaid | number:0 }}
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-6">
            <a id="btn-payment-update" href="#" routerLink="/dashboard/member/cc-autodebit/{{ member.id }}" class="btn btn-primary btn-lg btn-block py-3">Update
              Payment</a>
          </div>
          <div class="col-6">
            <button type="button" (click)="downloadSigning()" class="btn btn-primary btn-lg btn-block py-3">Download
              Signing Form</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-4 mb-md-0">
    <!-- PAYMENT -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="fancy-head mb-3">
          <span>Today's Attendance</span>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">Date</span>
              <div class="text-medium text-primary mt-1">
                {{ todayDate }}
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">Branch</span>
              <div class="text-medium text-primary mt-1">
                {{ member.branch_name }}
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">First Time</span>
              <div class="text-medium text-primary mt-1 first_time">
                <code id="code-first_time"></code>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="px-4 py-3 border border-light rounded align-items-center">
              <span class="text-muted mb-0">Member Status</span>
              <div class="text-medium text-primary mt-1">
                {{ status ? status : "Unverified" }}
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <a id="btn-attendance" (click)="checkAttendance()" [href]="finger" class="btn btn-primary btn-lg btn-block py-3">Attendance</a>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6 mb-3 mb-md-0">
            <button class="btn btn-primary btn-lg btn-block py-3" (click)="open(manualAttendance)" id="btn-manualattendance">
              Manual Attendance
            </button>
          </div>
          <div class="col-md-6">
            <a id="btn-history" class="btn btn-primary btn-lg btn-block py-3" (click)="openLg(attendancehistory)">Attendance
              History</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="fancy-head mb-3">
          <span>Today's Class</span>
        </div>
        <div class="mt-4 jadwal">
          <div class="class-loading">Loading Data...</div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <a [href]="finger_class" (click)="checkAutoRegistrationClass()" id="btn-autoreg" class="btn btn-primary btn-lg btn-block py-3">Auto
              Register</a>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6 mb-3 mb-md-0">
            <button id="btn-manualreg" class="btn btn-primary btn-lg btn-block py-3" (click)="open(manualClass)">Manual
              Register</button>
          </div>
          <div class="col-md-6">
            <button id="btn-classhis" class="btn btn-primary btn-lg btn-block py-3" (click)="openLg(classHistory)">Class
              History</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="downloadbio" class="d-none">
  <h3 class="my-4"><strong>I. Personal Data of the Participant</strong></h3>
  <ul class="list no-list-style">
    <li><strong>Name:</strong>
      <div class="text-medium">{{member.name}}</div>
    </li>

    <li><strong>Address:</strong>
      <div class="text-medium">{{member.address}}</div>
    </li>

    <li><strong>Date of Birth:</strong>
      <div class="text-medium">{{member.date_of_birth}}</div>
    </li>

    <li><strong>Contact Number:</strong>
      <div class="text-medium">{{member.phone}}</div>
    </li>

    <li><strong>In an emergency, I would like EMPIRE FIT CLUB to Call:</strong>
      <div class="text-medium">{{ member.phone }}</div>
    </li>

    <li><strong>Email:</strong>
      <div class="text-medium">{{member.email}}</div>
    </li>
  </ul>

  <h3 class="my-4"><strong>II. Health Questions</strong></h3>
  <ul class="list" style="list-style:none;">
    <li *ngFor="let healthquestion of healthquestions">
      <strong>{{healthquestion.question}}</strong>
      <div class="answer" id="{{healthquestion.id}}" data-id="healthquestion.id" class="text-medium">{{ !!
        healthquestion.answer === false ? "No" : "Yes" }}</div>
    </li>
  </ul>

  <h3 class="my-4"><strong>III. Reviewer Notes:</strong></h3>
  {{member.notes}}

  <h3 class="my-4"><strong>IV. Photography and/or Video Release</strong></h3>
  <p>Photography and/or Video Release of Participant involved in any activities offered by EMPIRE FIT CLUB may be
    photographed or videotaped during training. The undersigned hereby consents to the use of these photographs
    and/or videos without compensation, on the EMPIRE FIT CLUB website or in any editorial, promotional or
    marketing material produced and/or published by EMPIRE FIT CLUB.</p>

  <h3 class="my-4"><strong>V. Waiver and Release of Liability</strong></h3>

  <p><strong>(i)</strong> Express Assumption of Risk: I, the undersigned, am aware that there are significant
    risks involved in all aspects of physical training. These risks include, but are not limited to: falls,
    muscle strains, muscle pulls, muscle tears, broken bones, shin splints, heat prostration, injuries to knees;
    , injuries to back, injuries to foot, heart attacks, or any other illness or soreness that I may incur which
    can result in serious injury or death; injury or death due to negligence on the part of myself, my training
    partner, or other people around me; injury or death due to improper use or failure of equipment; strains and
    sprains. I am aware that any of these above mentioned risks may result in serious injury or death to myself
    and or my partner(s). I willingly assume full responsibility for the risks that I am exposing myself to and
    accept full responsibility for any injury or death that may result from participation in any activity or
    class while at, or under direction of EMPIRE FIT CLUB. I acknowledge that I have no physical impairments,
    injuries , or illnesses that will endanger me or others.</p>

  <p><strong>(ii)</strong> Release: In consideration of the above mentioned risks and hazards and in
    consideration of the fact that I am willingly and voluntarily participating in the activities offered by
    EMPIRE FIT CLUB, I, the undersigned hereby release EMPIRE FIT CLUB, their directors, coaches, officers,
    employees, agents, from any and all liability, claims, demands, actions or rights of action, which are
    related to, arise out of, or are in any way connected with my participation in this activity, including those
    allegedly attributed to the negligent acts or omissions of the above mentioned parties . This agreement shall
    be binding upon me, my spouse, my children, my guardians, my successors, representatives, heirs, executors,
    assigns, or transferees (collectively, the "Releasors"). I accept full and complete responsibility for the
    safety of myself, any guests, observers or other individuals who I have invited to the venue of EMPIRE FIT
    CLUB, and property, and I assume the risk of damage, theft, loss or injury caused by others to me, my guests
    and property.
    If any portion of this agreement is held invalid, I agree that the remainder of the agreement shall remain in
    full legal force and effect. If I am signing on behalf of a minor child, I also give full permission for any
    person connected with EMPIRE FIT CLUB to administer first aid deemed necessary, and in case of serious
    illness or injury, I give permission to call for medical and or surgical care for the child and to transport
    the child to a medical facility deemed necessary for the wellbeing of the child </p>

  <p><strong>(iii)</strong> Indemnification: On behalf of the Releasers, the Participant recognizes that there
    is risk involved in the types of activities offered by EMPIRE FIT CLUB. Therefore the Participant accepts
    financial responsibility for any injury that the Participant may cause either to him/herself or to any other
    participant due to his/her negligence. Should the above mentioned parties, or anyone acting on their behalf,
    be required to incur attorney's fees and costs to enforce this agreement, I agree to reimburse them for such
    fees and costs. I further agree to indemnify and hold harmless EMPIRE FIT CLUB, their directors, coaches,
    officers, employees, agents from liability for the injury or death of any person(s) and damage to property
    that may result from my negligent or intentional act or omission while participating in <br>
    _____ activities offered by EMPIRE FIT CLUB, at the main building or aboard. This includes but is not limited
    to parks, recreational areas, playgrounds, areas adjacent to main building, and/or any area selected for
    training by EMPIRE FIT CLUB.

    I Have read and understood the foregoing assumption of risk, and release of liability and I understand that
    by signing it obligates me to indemnify the parties named for any liability for injury or death of any person
    and damage to property caused by my negligent or intentional act or omission. I understand that by signing
    this form I am waiving valuable legal rights.</p>

  <p><strong>(iv)</strong> Promise Not To Bring Suit: I hereby agree and covenant not to, and shall cause the
    Releasors not to, bring a claim against, sue, demand compensation from or attach the property or assets of
    EMPIRE FIT CLUB or any of their directors, coaches, officers, employees, agents, for any loss or damage
    arising or resulting from my participation in EMPIRE FIT CLUB or my travel to or from or presence at the
    venue, 2nd forever release and discharge EMPIRE FIT CLUB or any of their directors, coaches, officers,
    employees, agents them from liability under such claims.</p>
</div>

<div class="d-none">
  <div id="downloadsigningform">
    <p align="center" style="font-size: 20pt;text-align:center;margin-bottom:10pt"><strong>Empire Fit Club recurring
        automattic payment</strong></p>
    <p>I <strong>{{member.name}}</strong> Have agreed to allow Empire Fit Club to deduct IDR <strong>{{recuring_payment
        | number:0}}</strong>
      from my credit card in order to pay the monthly subscriptions.I understand that this
      payment process is a reoccurringpayment process and the agreed amount of money will be automatically deducted
      unless I instructed them other wise.</p>

    <p><strong>Terms &amp; Condition.</strong></p>

    <ul>
      <li>Within the 2 months of initial sign up the members are not encouraged to stop the monthly subscription.</li>
      <li><br>(stopping within two months will result on IDR 200.000 process fee)<br></li>
      <li>Members are allowed to cancel the automatic payment anytime after the initial 2 months after the sign up</li>
      <li>The Member are allowed to freeze the account for the minimum of 15 days and maximum of 3 months</li>
      <li>To freeze or stop the membership, the member will have to notify 2 weeks prior.</li>
      <li>Empire has the right to stop the membership or auto deduction at anytime they see fit.</li>
    </ul>
    <p color="white">.</p>

    <p><strong>Name on the Card:</strong> {{credit_cards.credit_card_name}}</p>
    <p><strong>Card Number:</strong> {{credit_cards.credit_card_number}}</p>
    <p><strong>Exp. Date:</strong> {{ credit_cards.credit_card_exp_month }}/{{ credit_cards.credit_card_exp_year }}</p>
    <p><br><br><br></p>
    <p><strong>Date:</strong> {{todayDate}}</p>
    <p><strong>Signature:</strong></p>
  </div>
</div>

<ng-template #manualAttendance let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Manual Attendance</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="px-4 py-3 border border-light rounded align-items-center">
          <span class="text-muted mb-0">Front Officer</span>
          <div class="text-medium text-primary mt-1">
            {{ !!user.name ? user.name : user.role }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <form [formGroup]="userForm" (ngSubmit)="attendanceCheck()">
          <label class="text-muted mb-0">Your Password</label>
          <input type="password" name="password" formControlName="password" placeholder="..." class="form-control mb-3" />
          <input type="hidden" name="schedule_id" formControlName="schedule_id" placeholder="..." class="form-control mb-3" />
          <input type="hidden" name="user_id" formControlName="user_id" placeholder="..." class="form-control mb-3" />
          <btn-loading btnClass="btn btn-outline-dark btn-rounded btn-block" [loading]="loading">Proceed</btn-loading>
        </form>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #leave let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Leave</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="px-4 py-3 border border-light rounded align-items-center">
          <span class="text-muted mb-0">Duration</span>
          <div class="text-medium text-primary mt-1">
            <select class="form-control" name="duration" id="duration">
              <option value="1">1 Month</option>
              <option value="2">2 Months</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="px-4 py-3 border border-light rounded align-items-center">
          <span class="text-muted mb-0">Front Officer</span>
          <div class="text-medium text-primary mt-1">
            {{ !!user.name ? user.name : user.role }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <form [formGroup]="userForm" (ngSubmit)="leaveCheck()">
          <label class="text-muted mb-0">Your Password</label>
          <input type="password" name="password" formControlName="password" placeholder="..." class="form-control mb-3" />
          <input type="hidden" name="user_id" formControlName="user_id" placeholder="..." class="form-control mb-3" />
          <btn-loading btnClass="btn btn-outline-dark btn-rounded btn-block" [loading]="loading">Proceed</btn-loading>
        </form>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #reactivate let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reactivated</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="px-4 py-3 border border-light rounded align-items-center">
          <span class="text-muted mb-0">Front Officer</span>
          <div class="text-medium text-primary mt-1">
            {{ !!user.name ? user.name : user.role }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <form [formGroup]="userForm" (ngSubmit)="reactivateCheck()">
          <label class="text-muted mb-0">Your Password</label>
          <input type="password" name="password" formControlName="password" placeholder="..." class="form-control mb-3" />
          <input type="hidden" name="user_id" formControlName="user_id" placeholder="..." class="form-control mb-3" />
          <btn-loading btnClass="btn btn-outline-dark btn-rounded btn-block" [loading]="loading">Proceed</btn-loading>
        </form>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #leaveHistory let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"><strong><span class="text-capitalize">{{ member.name }}'s</span></strong> Leave History</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive-sm">
      <table class="table table-striped" id="mytable">
        <thead>
          <tr>
            <th scope="col">STATUS</th>
            <th scope="col">RECURRING DATE ORIGIN</th>
            <th scope="col">RECURRING DATE LEAVE</th>
            <th scope="col">RECURRING DATE LEAVE (FULL FORMAT)</th>
            <th scope="col">INACTIVE DATE</th>
            <th scope="col">ACTIVE DATE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of leaves">
            <td>{{ l.status }}</td>
            <td class="text-center">{{ l.recuring_date_first }}</td>
            <td class="text-center">{{ l.recuring_date_second }}</td>
            <td class="text-center">{{ l.date ? l.date : "-" }}</td>
            <td class="text-center">{{ l.start_date }}</td>
            <td class="text-center">{{ l.end_date ? l.end_date : "-" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #manualClass let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Manual Register</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="px-4 py-3 border border-light rounded align-items-center">
          <span class="text-muted mb-0">Front Officer</span>
          <div class="text-medium text-primary mt-1">
            {{ !!user.name ? user.name : user.role }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <form [formGroup]="userForm" (ngSubmit)="classCheck()">
          <label class="text-muted mb-0">Your Password</label>
          <input type="password" name="password" formControlName="password" placeholder="..." class="form-control mb-3" />
          <btn-loading btnClass="btn btn-outline-dark btn-rounded btn-block" [loading]="loading">Proceed</btn-loading>
        </form>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #classHistory let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"><strong><span class="text-capitalize">{{ member.name }}'s</span></strong> Class History</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive-sm">
      <table class="table table-striped" id="mytable">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Exercise Schedule</th>
            <th scope="col">Exercise Name</th>
            <th scope="col">Automatic</th>
            <th scope="col">Authorized By</th>
            <th scope="col">Canceled</th>
            <th scope="col">Canceled By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of classhistory">
            <td>{{ item.date }}</td>
            <td>{{ item.checkin_time }}</td>
            <td>{{ item.schedule_time }}</td>
            <td>{{ item.exercise }}</td>
            <td>{{ !! item.automatic === false ? 'No' : 'Yes' }}</td>
            <td>{{ !! item.user_name ? item.user_name : '' }}</td>
            <td>{{ !! item.canceled === false ? 'No' : 'Yes' }}</td>
            <td>{{ item.canceled_by }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #attendancehistory let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"><strong><span class="text-capitalize">{{ member.name }}'s</span></strong> Attendance
      History</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive-sm">
      <table class="table table-striped" id="mytable">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Automatic</th>
            <th scope="col">Authorized By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of gymhistory" class="text-center">
            <td>{{ item.date }}</td>
            <td>{{ item.time }}</td>
            <td>{{ !! item.automatic === false ? 'No' : 'Yes' }}</td>
            <td>{{ !! item.user_name ? item.user_name : '' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #choice let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="c('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="px-4 py-3 rounded align-items-center">
        <div class="row">
          <div class="col-md-12 mb-2">
            <a (click)="close()" id="btn-membership" routerLink="/dashboard/member/activation/{{ member.id }}" class="btn btn-primary btn-lg btn-block py-3">First
              Registration</a>
          </div>
          <div class="col-md-12 mb-2">
            <a id="btn-selectPackage" (click)="close()" routerLink="/dashboard/member/select-package/{{ member.id }}"
              class="btn btn-primary btn-lg btn-block py-3">Select
              Membership Package</a>
          </div>
          <div class="col-md-12">
            <a id="btn-upgradePackage" (click)="close()" routerLink="/dashboard/member/upgrade-membership/{{ member.id }}"
              class="btn btn-primary btn-lg btn-block py-3">Upgrade
              Membership Package</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>