<div class="breadcrumb">
	<h1>Customer Search</h1>
	<ul>
		<li>Attendance</li>
	</ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-4">
	<div class="col-md-6 mb-4 mb-md-0">
		<div class="card mb-4">
			<div class="card-body">
				<div class="card-title mb-3">Biodata</div>
				<div class="row">
					<div class="col-md-3">
						<img src="{{!! member.photo ? member.photo : 'https://randomuser.me/api/portraits/women/65.jpg' }}" class="img-fluid rounded-circle" alt="">
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-6">
								<div class="mb-4">
									<span class="text-muted mb-0">Name</span>
									<div class="text-18 text-primary mt-1">
										{{member.name}}
									</div>
								</div>
								<div>
									<span class="text-muted mb-0">Phone</span>
									<div class="text-18 text-primary mt-1">
										{{member.phone}}
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-4">
									<span class="text-muted mb-0">Club</span>
									<div class="text-18 text-primary mt-1">
										{{member.branch_name}}
									</div>
								</div>
								<div>
									<span class="text-muted mb-0">ID Card Number</span>
									<div class="text-18 text-primary mt-1">
										{{member.id_card_number}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-12 mb-3">
						<div class="text-medium">Membership</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="px-4 py-3 border border-light rounded align-items-center mb-4">
							<span class="text-muted mb-0">Type</span>
							<div class="text-18 text-primary mt-1">
								{{member.member_type_name}}
							</div>
						</div>
						<div class="px-4 py-3 border border-light rounded align-items-center">
							<span class="text-muted mb-0">Expiry Date</span>
							<div class="text-18 text-primary mt-1">
								{{expirydate}}
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="px-4 py-3 border border-light rounded align-items-center">
							<span class="text-muted mb-0">Session Remains</span>
							<div class="text-18 text-primary mt-1">
								{{member.session_remains}}
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-12">
						<a routerLink="/dashboard/member/activation/{{ member.id }}" class="btn btn-primary btn-lg btn-block py-3">Membership Update</a> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 mb-4 mb-md-0">
		<div class="card mb-4">
			<div class="card-body">
				<div class="card-title mb-3">
					Payment
				</div>
				<div class="row mb-4">
					<div class="col-md-6 mb-4 mb-md-0">
						<div class="px-4 py-3 border border-light rounded align-items-center">
							<span class="text-muted mb-0">Type</span>
							<div class="text-18 text-primary mt-1">
								{{member.payment_type_name}}
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4 mb-md-0">
						<div class="px-4 py-3 border border-light rounded align-items-center">
							<span class="text-muted mb-0">Auto Debit</span>
							<div class="text-18 text-primary mt-1">
								{{!! member.auto_debet === false ?  "No" : "Yes" }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mb-4 mb-md-0">
						<div class="px-4 py-3 border border-light rounded align-items-center">
							<span class="text-muted mb-0">Recurring Date</span>
							<div class="text-18 text-primary mt-1">
								{{ member.recuring_date }} Every Month
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4 mb-md-0">
						<div class="px-4 py-3 border border-light rounded align-items-center">
							<span class="text-muted mb-0">Payment Unpaid</span>
							<div class="text-18 text-primary mt-1">
								Rp {{ member.payment_unpaid }}
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col-12">
						<a href="#" class="btn btn-primary btn-lg btn-block py-3">Payment Update</a>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="row mb-3">
					<div class="col">
						<a href="#" class="btn btn-block btn-primary py-3">Attendence</a>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6 mb-3 mb-md-0">
						<a href="#" class="btn btn-block btn-primary py-3">PT Session</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-block btn-primary py-3">Select Class</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mb-3 mb-md-0">
						<a href="#" class="btn btn-block btn-primary py-3">Leave</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-block btn-primary py-3">Membership History</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>