.big-modal.modal.show .modal-dialog {
    max-width: 1200px!important;
}  

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background: none;
  text-align: center;
}
