<div class="breadcrumb">
    <h1>Member</h1>
    <ul>
      <li>Activation Status</li>
    </ul>
  </div>

<div class="separator-breadcrumb border-top"></div>

<div class="p5 text-center mt-5">
  <img src="assets/images/success.png" alt="" width="100">

  <h2 class="mt-5">REGISTRATION PROCESS IS SUCCESSFULL</h2>

  <div class="row mt-5 justify-content-center">
    <div class="col-md-4">
      <a href="#" class="btn btn-primary btn-block py-3">ATTENDANCE</a>
    </div>
    <div class="col-md-4">
      <a href="#" class="btn btn-primary btn-block py-3">SELECT CLASS</a>
    </div>
  </div>
</div>