<div class="breadcrumb">
  <h1>Instructure</h1>
  <ul>
    <li>Create</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Form Create Instructure</div>
        <form [formGroup]="instructureForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="user_id">Name</label>
              <select
                name="user_id"
                id="user_id"
                class="form-control "
                formControlName="user_id"
              >
                <option [ngValue]="user.id" *ngFor="let user of users">{{
                  user.name
                }}</option>
              </select>
            </div>

            <div class="col-md-12">
              <btn-loading
                btnClass="btn-primary btn-rounded"
                [loading]="loading"
                >Save</btn-loading
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
