<div class="">
  <div class="breadcrumb">
    <h1>Pricing PT</h1>
    <ul>
      <li>List</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <a
          href="#"
          [routerLink]="['pricing-pt-create']"
          class="btn btn-primary btn-rounded"
        >
          Create
        </a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card o-hidden">
        <div class="table table-responsive mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="container">
                <table id="mytable" class="table table-hover" cellspacing="0">
                  <thead class="text-center">
                    <tr>
                      <th>Name</th>
                      <th>Quota</th>
                      <th>Remains</th>
                      <th>Price</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr *ngFor="let personaltrainer of personaltrainers">
                      <td>{{ personaltrainer.name }}</td>
                      <td>{{ personaltrainer.quota }}</td>
                      <td>{{ personaltrainer.remains }}</td>
                      <td>Rp. {{ personaltrainer.price }}</td>
                      <td>{{ personaltrainer.state }}</td>
                      <td>
                        <a
                          href="#"
                          [routerLink]="[
                            'pricing-pt-edit/',
                            personaltrainer.id
                          ]"
                          class="btn btn-sm btn-warning mr-2"
                          title="Edit"
                          triggers="mouseenter:mouseleave"
                        >
                          <i class="i-Pen-5"></i>
                        </a>
                        <button
                          class="btn btn-sm btn-danger"
                          (click)="confirm(modalConfirm, personaltrainer.id)"
                        >
                          <i class="i-Close-Window"></i>
                        </button>

                        <!-- Delete Modal -->
                        <ng-template #modalConfirm let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-title">
                              Personal Trainer deletion
                            </h4>
                            <button
                              type="button"
                              triggers="mouseenter:mouseleave"
                              title="Show"
                              class="close"
                              aria-label="Close button"
                              aria-describedby="modal-title"
                              (click)="modal.dismiss('Cross click')"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>
                              <strong
                                >Are you sure you want to delete
                                <span class="text-primary"
                                  >"{{ personaltrainer.name }}"</span
                                >
                              </strong>
                            </p>
                            <p>
                              All information associated to this role will be
                              permanently deleted.
                              <span class="text-danger"
                                >This operation can not be undone.</span
                              >
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-outline-secondary btn-rounded"
                              (click)="modal.dismiss('cancel')"
                            >
                              Cancel
                            </button>
                            <button
                              type="button"
                              ngbAutofocus
                              class="btn btn-danger btn-rounded"
                              (click)="modal.close('Ok')"
                            >
                              Ok
                            </button>
                          </div>
                        </ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
