<div class="breadcrumb">
  <h1>Schedule</h1>
  <ul>
    <li>Update</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Form Update Schedule</div>
        <form [formGroup]="scheduleForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="instructure_id">Instructure</label>
              <select
                name="instructure_id"
                id="instructure_id"
                class="form-control "
                formControlName="instructure_id"
              >
                <option
                  [ngValue]="instructure.id"
                  *ngFor="let instructure of instructures"
                  >{{ instructure.name }}</option
                >
              </select>
            </div>

            <div class="col-md-12 form-group mb-3">
              <label for="exercise">Exercise</label>
              <input
                type="text"
                class="form-control "
                id="exercise"
                placeholder="Enter exercise"
                formControlName="exercise"
              />
              <i
                *ngIf="
                  !scheduleForm.get('exercise').valid &&
                  scheduleForm.get('exercise').touched
                "
                class="i-Information text-danger"
              >
                Please enter exercise</i
              >
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="day">Day</label>
              <select
                name="day"
                id="day"
                class="form-control "
                formControlName="day"
              >
                <option *ngFor="let item of days" [ngValue]="item">{{
                  item
                }}</option>
              </select>
            </div>

            <div class="col-md-12 form-group mb-3">
              <label for="time">Time</label>
              <input
                type="text"
                class="form-control "
                id="time"
                placeholder="Enter time : 00:00"
                formControlName="time"
              />
              <i
                *ngIf="
                  !scheduleForm.get('time').valid &&
                  scheduleForm.get('time').touched
                "
                class="i-Information text-danger"
              >
                Please enter time : 00:00</i
              >
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="periode">Periode</label>
              <div class="row">
                <div class="col-md-5">
                  <input
                    type="text"
                    id="start_date"
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="start_date"
                    formControlName="start_date"
                  />
                  <!-- <div class="input-group-append">
                    <button
                      class="btn btn-secondary"
                      (click)="start_date.toggle()"
                      type="button"
                    >
                      <i class="icon-regular i-Calendar-4"></i>
                    </button>
                  </div> -->
                </div>
                <div class="col-md-1">
                  -
                </div>
                <div class="col-md-5">
                  <input
                    type="text"
                    id="end_date"
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="end_date"
                    formControlName="end_date"
                  />
                  <!-- <div class="input-group-append">
                    <button
                      class="btn btn-secondary"
                      (click)="end_date.toggle()"
                      type="button"
                    >
                      <i class="icon-regular i-Calendar-4"></i>
                    </button>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-12 form-group mb-3">
              <label for="branch_id">Branch</label>
              <select
                name="branch_id"
                id="branch_id"
                class="form-control "
                formControlName="branch_id"
              >
                <option *ngFor="let item of branches" [ngValue]="item.id">{{
                  item.branch_name
                }}</option>
              </select>
            </div>

            <div class="col-md-12">
              <btn-loading
                btnClass="btn-primary btn-rounded"
                [loading]="loading"
                >Save</btn-loading
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
