<div class="breadcrumb">
  <h1>Package</h1>
  <ul>
    <li>Update</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Form Update Package</div>
        <form [formGroup]="packageForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="package_name">Name</label>
              <input
                name="package_name"
                id="package_name"
                class="form-control "
                formControlName="package_name"
              />
              <i
                *ngIf="
                  !packageForm.get('package_name').valid &&
                  packageForm.get('package_name').touched
                "
                class="i-Information text-danger"
              >
                Please enter package name</i
              >
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="day">Day</label>
              <input
                type="text"
                class="form-control "
                id="day"
                placeholder="Enter Day"
                formControlName="day"
              />
              <i
                *ngIf="
                  !packageForm.get('day').valid &&
                  packageForm.get('day').touched
                "
                class="i-Information text-danger"
              >
                Please enter total day</i
              >
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="session">Session</label>
              <input
                type="text"
                class="form-control "
                id="session"
                placeholder="Enter Session"
                formControlName="session"
              />
              <i
                *ngIf="
                  !packageForm.get('session').valid &&
                  packageForm.get('session').touched
                "
                class="i-Information text-danger"
              >
                Please enter total session</i
              >
            </div>

            <div class="col-md-12">
              <btn-loading
                btnClass="btn-primary btn-rounded"
                [loading]="loading"
                >Save</btn-loading
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
